fastmcp
httpx
python-dotenv
langgraph
langgraph-checkpoint-sqlite
langchain-google-genai
fastapi
uvicorn
loguru
tenacity
pydantic
psycopg[binary]
langgraph-checkpoint-postgres
PyJWT
cryptography
gunicorn
chromadb
sentence-transformers
